DATABASE_URL=postgresql+psycopg://myhero:myhero_pass@db:5432/myhero
SECRET_KEY=Holodos
BASE_URL=http://localhost:8000
APP_NAME=Мой герой
MAX_BOT_TOKEN=
MAX_WEBHOOK_SECRET=
MAX_MINI_APP_URL=https://max.ru/your_bot_username?startapp


curl -X POST "https://platform-api2.max.ru/subscriptions" \
  -H "Authorization: f9LHodD0cOLpRlBeeEWeoIOjxpU0wXRMEc53XB1WaFVn3i5OuKtHpbsLBRiea-Hz9vfK-XsicO-rPaJahsbk" \
  -H "Content-Type: application/json" \
  -d '{
    "url": "https://moygeroy.gov45.ru/max/webhook",
    "update_types": ["bot_started", "message_created"],
    "secret": "HOoS1Zt3jleaFyKNHZXoNTFOQLw8UBu_v8Pz07L0KSo"
  }'

  curl -X GET "https://platform-api2.max.ru/subscriptions"
    -H "Authorization: f9LHodD0cOLpRlBeeEWeoIOjxpU0wXRMEc53XB1WaFVn3i5OuKtHpbsLBRiea-Hz9vfK-XsicO-rPaJahsbk"



curl -X GET "https://platform-api2.max.ru/subscriptions" \
  -H "Authorization: f9LHodD0cOLpRlBeeEWeoIOjxpU0wXRMEc53XB1WaFVn3i5OuKtHpbsLBRiea-Hz9vfK-XsicO-rPaJahsbk"